[build]
base = "./"
publish = "./public/"
command = "./bin/task build"

[context.production.environment]
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
command = "hugo --gc --minify --buildFuture --baseURL $DEPLOY_PRIME_URL"

[context.branch-deploy]
command = "hugo --gc --minify --baseURL $DEPLOY_PRIME_URL"

[context.next.environment]
HUGO_ENABLEGITINFO = "true"

[dev]
  framework = "hugo"
  targetPort = 3000
