[build]
base = "./site/"
publish = "./public/"
command = "./build.sh"

[context.production.environment]
HUGO_VERSION = "0.112.3"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"
GO_VERSION = "1.20"

[context.deploy-preview]
command = "./build.sh --buildFuture --baseURL $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
HUGO_VERSION = "0.112.3"

[context.branch-deploy]
command = "./build.sh --baseURL $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
HUGO_VERSION = "0.113.3"

[context.next.environment]
HUGO_ENABLEGITINFO = "true"

[dev]
  framework = "hugo"
  targetPort = 3000
